@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
:root{
    --f7-theme-color:#39BC9E;
    --f7-navbar-bg-color: #39BC9E; /*navbar*/
	--f7-navbar-link-color:#ffff;
    --f7-navbar-text-color:#ffff;
    --f7mbars-bg-color:#39BC9E;/*toolbar*/
    --f7-block-margin-vertical:20px;
    --f7-card-footer-border-color:transparent; 
	--color-gris:#505151;
}
body{
	font-display: 'Poppins', sans-serif;
	font-size: 14px;
	color: #2b2b2b;
}
.about{
	background-color: #3cc0a1;
	align-content: center;
	text-align: center;
	font-size: 28px;
	color: #fff;
}
.column {
  float: left;
  width: 50%;
}

.row{
	font-size: 14px;
	text-align: left;
	align-content:stretch;
}
.img-fluid{
	max-width: 100%;
}
.row-titles a{
	color: #2d2d2d;
	text-decoration: underline;
	margin-top: 30px;
}
.capa-relative{
	position: relative;
	overflow: hidden;
}
.capa-texto{
	position: absolute;
	padding: 10px;
	color: #fff;
	bottom: 0;
}
.overlay{
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.55);
	width: 100%;
	height: 100%;
}
.capa-texto h5{
	font-size: 20px;
	font-weight: 600;
}


.info-user{
	background-color: var(--f7-theme-color);
	padding: 60px 20px 10px;
	color: #fff;
	font-size: 12px;
}

.info-user img{
	border-radius: 100%;
}
.bodyletters{
	font-size: 30px;
	margin-left: 30px;
	margin-right: 30px;
	
}
.pp{
	margin-top: 60px;
	align-content: center;
	text-align: center;
}

.peso{
	align-content: center;
	text-align: center;
}
.button{
	align-content: center;
}

#products .card-content{
	padding: 8px 5px;
}
#products h4{
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 10px;
}
#products .info{
	font-size: 12px;
	color: #aaa;
	margin-bottom: 6px;
}
#info-product .price{
	color: var(--f7-theme-color);
	font-weight: 700;
	font-size: 22px;
