@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
:root{
    --f7-theme-color:#39BC9E;
    --f7-navbar-bg-color: #39BC9E; /*navbar*/
	--f7-navbar-link-color:#ffff;
    --f7-navbar-text-color:#ffff;
    --f7mbars-bg-color:#39BC9E;/*toolbar*/
    --f7-block-margin-vertical:20px;
    --f7-card-footer-border-color:transparent; 
	--color-gris:#505151;
}
body{
	font-display: 'Poppins', sans-serif;
	font-size: 14px;
	color: #2b2b2b;
}
.img-fluid{
	max-width: 100%;
}